.about-us_heading-container-01 {
    margin: 1rem;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-us_heading-container-01 h1,
.about-us_heading-container-01 h3 {
    margin: 0px;
    background: linear-gradient(90deg, #00c6ff, #0072ff, #00aaff);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 5s linear infinite;
}

.about-us_heading-container-01 h3 {
    margin: 15px 0px;
} 

@keyframes gradientAnimation {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}